
    {{ range .users }}
        <li>
            {{ .Name }}
        </li>
    {{ end }}

{{define "content"}}
<h1>The users</h1>
<ul>
    {{ range .Content.users }}
        <li>
            {{ .Name }}
        </li>
    {{ end }}
</ul>

<form action="/admin" method="post">
  <label for="fname">name</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
  <input type="submit" value="Submit">
</form> 
{{ end }}

{{template "base.tmpl"  }}

